.heading {
  position: sticky;
  top: 0px;
  text-align: center;
  background-color: gray;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid gray;
  border-right: 0px solid #1f1f1e;
  padding-top: 0px;
}

a:link {
  color: #82c9ff;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #35a7ff;
  text-decoration: none;
  font-size: 30px;
}

a:active {
  color: #82c9ff;
  text-decoration: none;
  font-size: 20px;
}

a:visited {
  color: #82c9ff;
  text-decoration: none;
  font-size: 20px;
}

.chad_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center_text {
  text-align: center;
  font-size: 30px;
  font-family: Optima, sans-serif;
  padding-top: 20px;
}

.main_text {
  font-size: 20px;
  font-family: Optima, sans-serif;
}

.copyright {
  background-color: lightgray;
}
