.heading {
  width: 100%;
  position: fixed;
  background: hsl(0, 0%, 90%);
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin: 5px;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: #9b489b;
}

a:active {
  color: white;
  text-decoration: none;
}
